/*
    Nahiara Sánchez García, UO295645
*/

/* 
    ESTILOS GENERALES DEL PROYECTO MOTOGP-DESKTOP
    
    - Enlaces: #0000ff
    - Enlaces usados: #050A30
    - Titulos: #000C66
    - Azul oscuro oscuro: #050A30
    - Baby blue: #E7F2F8
    - Rojo: #F51720
*/

body {
    font-family: "Calibri", sans-serif, Arial;
    /*background-color: #f2f9fd;*/
    background-color: #f9f9f9;
    color: black;
}

header {
    background-color: #222222d8;
    color: white;
    padding: 1rem;
    text-align: left;
}

/*Especificidad 010 */
.active {
    text-decoration: underline;
}


/*Especificidad 003 */
header h1 a {
    color: black;  /* Advertencia: Hereda color de fondo de header */
}

/*Especificidad 013 */
header h1 a:visited {
    color: white;  /* Advertencia: Hereda color de fondo de header */
}

/*Especificidad 002 */
header a {
    color: white;   /* Advertencia: Hereda color de fondo de header */
    text-decoration: none;  
}

/*Especificidad 012 */
header a:visited {
    color: white;   /* Advertencia: Hereda color de fondo de header */
}

h2{
    color: #F51720;
}

/*Especificidad 001 */
a {
    color: #0000ff;    /* Advertencia: Hereda color de fondo de body */
    text-decoration: none; /* Sin subrayado */
}

/*Especificidad 011 */
a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
    
}

/*Especificidad 011 */
a:visited {
    color: #2f5f80;   /* Advertencia: Hereda color de fondo de header o body*/
    
}

/*Especificidad 012 */
header + p:first-of-type {
    font-size:0.9em;
    padding-top: 1em;
    padding-left: 0.5em;
}


  