/*Especificidad 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    grid-template-rows: auto auto repeat(3, 1fr); /* primera fila automática para el título, luego 3 filas iguales para cartas */
    grid-gap: 2vw;
    justify-items: center;
    align-items: center;
}

/*Especificidad 002 */
main h2 {
    grid-column: 1 / -1; /* ocupa desde la primera hasta la última columna */
    text-align: center;
}

/*Especificidad 002 */
main p {
    grid-column: 1 / -1; /* ocupa desde la primera hasta la última columna */
    text-align: center;
}

/*Especificidad 002 */
main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #f9f9f9;       /* Advertencia: Hereda color de fondo del body */
}


@media (max-width: 799px) {
    /*Especificidad 001 */
    main {
        grid-template-columns: repeat(2, 1fr);      /* Advertencia: Redefinición para pantallas pequeñas */
        grid-template-rows: auto repeat(6, 1fr);    /* Advertencia: Redefinición para pantallas pequeñas */
        grid-gap: 1em;                              /* Advertencia: Redefinición para pantallas pequeñas */
    }

    /*Especificidad 002 */
    main article {
        width: 7.5em;
        height: 7.5em;
    }
}