/*Especificidad 001 */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 1em; /*Redefinición de padding-left*/
    padding-right: 1em; /*Redefinición de padding-right*/
}

/*Especificidad 001 */
nav {
    display: flex;
    flex-direction: row; /* enlaces en fila */
    gap: 1em;            /* espacio entre enlaces */
    padding-bottom: 1em;
}


@media (min-width: 320px) and (max-width: 799px) {
    header {
      flex-direction: column; /*Redefinición de flex-direction*/
      align-items: flex-start; /*Redefinición de align-items*/
    }
  
    header h1 {
      margin-bottom: 0.5em;
    }
  
    nav {
      flex-direction: column; /*Redefinición de flex direction*/
      gap: 0.5em; /*Redefinición de gap*/
      padding-bottom: 0; /*Redefinición de padding-bottom*/
    }
  
    nav a {
      display: block;
    }
  
    body > p:first-of-type{
        display: none;
    }

    
    body > table, section > table  {
      width: 100%;
      table-layout: fixed; /* para evitar que crezca más del ancho */
    }
  
    table {
      width: 100%;
      table-layout: fixed;
    }
  
    table th, table td {
      padding: 0.5em;
      word-wrap: break-word; /* para cortar texto largo */
    }
        

    
  }
