/*Especificidad 001 */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1em;
}

/*Especificidad 001 */
nav {
    display: flex;
    flex-direction: row; /* enlaces en fila */
    gap: 1em;            /* espacio entre enlaces */
    padding-bottom: 1em;
}


@media (min-width: 320px) and (max-width: 799px) {
    header {
      flex-direction: column; /*Redefinición de flex-direction*/
      align-items: flex-start; /*Redefinición de align-items*/
    }
  
    header h1 {
      margin-bottom: 0.5em;
    }
  
    nav {
      flex-direction: column; /*Redefinición de flex direction*/
      gap: 0.5em; /*Redefinición de gap*/
      padding-bottom: 0; /*Redefinición de padding-bottom*/
    }
  
    
    body > p:first-of-type{
        display: none;
    }

    article h2 + img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    article {
      padding: 0.5em;
      text-align: center;
    }

    article h2 {
      font-size: 1.2em;
    }

    
  }
